# ignore all ana/ ipynb and html files in diffs and GitHub languages stats
ana/*.ipynb linguist-generated=true
ana/*.html linguist-generated=true
# ignore media/ html files in GitHub languages stats
media/**/*.html linguist-documentation=true
