body {
  background-color: #f5f5f5;
}
.bg-white {
  background-color: #fff;
}
.sidebar {
  background-color: #fff;
}
.box {
  background: #012169;
  color: #fff;
}
.box .box-topic {
  font-size: 20px;
  font-weight: 500;
}
.box .number {
  font-size: 28px;
  margin-top: -6px;
  font-weight: 500;
}
.my-primary{
  color: #012169;
}
